<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gOldCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <applicationSettings>
    <gOldCleaner.Properties.Settings>
      <setting name="FolderList" serializeAs="Xml">
        <value>
          <ArrayOfFolderItemDto>
            <FolderItemDto>
              <Description>test</Description>
              <FolderName>C:\REPO\GDB\Utils\gOldCleaner\temp</FolderName>
              <!-- DeleteAfter is \d+(d|h|m) for days, hours, minutes e.g. 30d, 24h, 60m -->
              <DeleteAfter>2d</DeleteAfter>
              <SearchPattern>*.log,*.7z</SearchPattern>
              <IsDeleteEmptyFolders>1</IsDeleteEmptyFolders>
            </FolderItemDto>
          </ArrayOfFolderItemDto>
        </value>
      </setting>
    </gOldCleaner.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>