<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gOldCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs" />
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${message}" />
      <target name="console_ext" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
      <target name="LogFileInOneFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
      <target name="LogFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
      <target name="DebugFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_DEBUG.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
      <target name="TraceFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_TRACE.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
      <target name="FatalFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_FATAL.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" maxLevel="Info" writeTo="console" />
      <logger name="*" minLevel="Debug" writeTo="LogFileInOneFile" />
      <!-- <logger name="*" minLevel="Info" writeTo="LogFile" />
      <logger name="*" minLevel="Debug" writeTo="DebugFile" />
      <logger name="*" minLevel="Fatal" writeTo="FatalFile" />
      <logger name="*" minLevel="Trace" writeTo="TraceFile" /> -->
    </rules>
  </nlog>

  <applicationSettings>
    <gOldCleaner.Properties.Settings>
      <setting name="FolderList" serializeAs="Xml">
        <value>
          <ArrayOfFolderItemDto>
            <FolderItemDto>
              <Description>test</Description>
              <FolderName>D:\REPO\Github\gOldCleaner\temp</FolderName>
              <DeleteAfter>10d</DeleteAfter>
              <SearchPattern>*.*</SearchPattern>
              <IsDeleteEmptyFolders>1</IsDeleteEmptyFolders>
            </FolderItemDto>
          </ArrayOfFolderItemDto>
        </value>
      </setting>
    </gOldCleaner.Properties.Settings>
  </applicationSettings>
</configuration>