<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gOldCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <applicationSettings>
    <gOldCleaner.Properties.Settings>
      <setting name="FolderList" serializeAs="Xml">
        <value>
          <ArrayOfFolderItemDto>
            <FolderItemDto>
              <Description>test</Description>
              <FolderName>D:\REPO\Github\gOldCleaner\temp</FolderName>
              <!-- DeleteAfter is \d+(d|h|m) for days, hours, minutes e.g. 30d, 24h, 60m-->
              <DeleteAfter>10d</DeleteAfter>
              <SearchPattern>*.*</SearchPattern>
              <IsDeleteEmptyFolders>1</IsDeleteEmptyFolders>
            </FolderItemDto>
          </ArrayOfFolderItemDto>
        </value>
      </setting>
    </gOldCleaner.Properties.Settings>
  </applicationSettings>
</configuration>